.ImageDiv {
  box-shadow: 1px 1px 4px 0px rgb(132, 199, 249, 0.6);
  border-radius: 5px;
  background-color: black;
  color: #84c7f9;
  animation: fadein 2s;
}

a {
  text-decoration: none;
}

.github {
  color: #ff6d3f;
}

.btn {
  background-color: black;
  color: #84c7f9;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
}

.gitdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.btn:hover {
  color: #ff6d3f;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
