.ImageDiv {
  animation: fadein 2s;
}

.projectBtns {
  display: flex;
  flex-direction: column;
}

.projectBtns a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  animation: fadein 2s;
  margin-bottom: 5px;
  font-weight: 400;
  padding: 5px 0;
}

.projectBtns a:hover {
  background-color: #ff6d3f;
  color: black;
  transition-duration: 1s;
}

.github {
  font-size: 20px;
  padding-right: 10px;
}

.btnLight {
  background-color: #c5cbd3;
  color: black;
}

.btnBlack {
  background-color: black;
  color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
