.ImageDiv {
  box-shadow: 5px 5px 5px 0px black;
  border-radius: 5px;
  background-color: black;
  color: #84c7f9;
  animation: fadein 2s;
}

a {
  text-decoration: none;
}

.github {
  color: #84c7f9;
}

.btn {
  background-color: black;
  color: #84c7f9;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
}

.gitdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.btn:hover {
  color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
