.IndexImage {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.ProjectPage {
  text-align: center;
  height: 100vh;
}

.Header {
  color: #84c7f9;
  margin-top: 5%;
  text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.9);
}

.Hr {
  margin-top: 3%;
  width: 80%;
  border: 1px solid #ff6d3f;
}

.Gallery {
  padding: 20px 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.8fr));
  grid-gap: 40px;
}

.Gallery img {
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .Header {
    margin: 50px 0;
  }
  .Gallery {
    padding: 30px;
    justify-content: center;
  }
  .Hr {
    width: 90%;
  }
}
