.IndexImage {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.HomePage {
  height: 78vh;
  color: #84c7f9;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding: 5% 15% 0 15%;
}

.Box3 {
  grid-column: 1/3;
  color: #84c7f9;
  font-size: 18px;
  padding-top: 30px;
}

.Box3 a {
  color: #ff6d3f;
  text-decoration: none;
  font-weight: 400;
}

.Box3 a:hover {
  color: #84c7f9;
}

.Portret {
  width: 220px;
  height: 250px;
  border-radius: 30%;
}

.Introduction {
  animation: fadein 4s;
  text-align: center;
}

.Introduction p {
  font-size: 18px;
  margin-bottom: 0;
}

.Introduction h1 {
  font-size: 3rem;
  margin: 0;
}

.Introduction span {
  color: #ff6d3f;
}

.Introduction hr {
  border: 1px solid #ff6d3f;
  width: 75%;
}

@media (min-width: 1900px) {
  .Introduction h1 {
    font-size: 4rem;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .HomePage {
    display: inline;
    text-align: center;
  }
  .Portret {
    margin-top: 30px;
  }

  .Introduction {
    margin: 60px 30px;
    text-align: center;
  }
  .Box3 {
    margin: 20px;
  }
  .Box3 a {
    color: #ff6d3f;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
