.submitbtn {
  height: 40px;
  width: 100%;
  background-color: black;
  color: #84c7f9;
  border: 1px solid #84c7f9;
  font-size: inherit;
  font-family: inherit;
  padding: 1%;
  font-weight: bold;
  cursor: pointer;
}

.submitbtn:disabled {
  color: #605d64;
  border: 1px solid #605d64;
}

.sendMessagge {
  color: #ffffff;
}
