.submitbtn {
  height: 40px;
  width: 100%;
  background-color: black;
  color: #ff6d3f;
  border: 1px solid #ff6d3f;
  font-size: inherit;
  font-family: inherit;
  padding: 1%;
  font-weight: bold;
  cursor: pointer;
}

.submitbtn:disabled {
  color: #605d64;
  border: 1px solid #605d64;
}

.sendMessagge {
  color: #f5f5f5;
}
