.Input {
  width: 100%;
  box-sizing: border-box;
}

.InputElement {
  display: block;
  background-color: black;
  color: white;
  padding: 2%;
  font-family: inherit;
  width: 100%;
  border: none;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.Label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.InputElement:focus {
  border: 1px solid white;
}
