.Input {
  width: 100%;
  box-sizing: border-box;
}

.InputElement {
  display: block;
  background-color: #84c7f9;
  padding: 2%;
  font-family: inherit;
  font-weight: bold;
  width: 100%;
  border: none;
  margin-bottom: 20px;
  box-sizing: border-box;
}
/* 
.InputElement:focus {
  border: 1px solid #ff6d3f;
  outline: none;
} */

.Label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}
