.cvdivlink {
  background-color: #000000;
  border: 1px solid #ff6d3f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17%;
  width: 130px;
  /* border-radius: 10px; */
  box-sizing: border-box;
  font-weight: 400;
  padding: 6px;
  border-radius: 10px;
}

a {
  color: #ff6d3f;
  font-weight: bold;
}

@media (max-width: 800px) {
  .cvdivlink {
    display: block;
    margin: 30px auto;
  }
}
