.IndexImage {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.ContactPage {
  height: 88vh;
  color: #84c7f9;
}

.ContactDiv {
  display: grid;
  grid-template-columns: 40% 55%;
  padding: 7% 15%;
  column-gap: 5%;
}

h2 {
  font-size: 30px;
  font-weight: 450;
  color: #ff6d3f;
}

h3 {
  font-size: 20px;
  font-weight: 450;
  color: #ff6d3f;
}

.ContactDetails .fadiv {
  color: #84c7f9;
  font-weight: 400;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
}

.link {
  font-size: 30px;
  padding-right: 10px;
  color: #84c7f9;
}

.link:hover {
  color: #ff6d3f;
}

.faicons {
  font-size: 20px;
  margin-right: 5px;
}

@media (max-width: 800px) {
  .ContactDiv {
    display: block;
    padding: 7% 30px;
  }
  .ContactDetails {
    margin: 70px 0;
    text-align: center;
  }
  .fadiv {
    display: flex;
    justify-content: center;
  }
}
