.ContactPage {
  height: 100vh;
  background-color: #262627;
  color: #84c7f9;
}

.ContactDiv {
  display: grid;
  grid-template-columns: 40% 55%;
  padding: 7% 15%;
  column-gap: 5%;
}

h2 {
  font-size: 30px;
  font-weight: 450;
}

h3 {
  font-size: 20px;
  font-weight: 450;
}

.ContactDetails h4 {
  color: white;
  font-weight: 400;
}

.link {
  font-size: 30px;
  padding-right: 10px;
  color: white;
}

@media (max-width: 800px) {
  .ContactDiv {
    display: block;
    padding: 7% 30px;
  }
  .ContactDetails {
    margin: 70px 0;
    text-align: center;
  }
}
