.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background-color: black; */
}

.Logo {
  width: 40px;
  height: 32px;
  padding: 8px;
  animation: spin 3s linear;
}

.LogoDiv {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #84c7f9;
  margin: 5px;
}

.LogoDiv:hover {
  box-shadow: 0px 0px 0px 1px white inset;
}

.Link {
  color: #84c7f9;
  margin: 0 15%;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.Link:hover,
.Link.active {
  color: white;
  text-decoration: underline;
}

@media (max-width: 800px) {
  .Logo {
    animation: none;
  }
  .Link {
    margin: 0 30px;
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
