.Navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
  background-color: #000000;
  width: 100%;
  box-shadow: 0 5px 5px #3a82b3;
}

.Logo {
  width: 40px;
  height: 32px;
  padding: 8px;
  animation-name: spin;
  animation-timing-function: linear;
  animation-duration: 3s;
}

.LogoDiv {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle, white, #226089);
  margin: 5px;
}

.Link {
  color: #3a82b3;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.Link:hover,
.Link.active {
  color: #bbdaee;
  text-decoration: underline;
}

.LogoDiv:hover {
  box-shadow: 0px 0px 3px 2px #bbdaee;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
